<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field  required">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title"  required>
        </div>
        <div class="field required">
            <label>Image</label>
           <input type="text" name="blog[image]" placeholder="image"  required>
        </div>
        <div class="field required">
            <label>Post Content</label>
            <textarea name="blog[body]" placeholder="blog post goes here" required></textarea>
        </div>
        <input class="ui blue basic button big" type="submit">
    </form>
</div>
<% include ./partials/footer %>
